.home {
  padding-bottom: 100px;
}

#home {
  margin-top: 70px;
}

.header-img {
  animation: updown 3s linear infinite;
}
@keyframes updown {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px);
    }
}

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.1s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

.home-header {
  padding-top: 80px !important;
}

#home .aligh-items-center {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 767px) {
  #home .aligh-items-center {
    display: block;
  }
}

.header-img {
  width: 450px;
  height: 450px;
}

.home-content {
  padding: 9rem 0 2rem !important;
  color: whitesmoke;
  text-align: left;
}

.heading {
  font-size: 3.4em !important;
  padding-left: 50px !important;
}

@media (max-width: 767px) {
  .heading {
    padding-left: 10px !important;
  }
}

.typing p {
  font-size: 2em;
  padding-left: 45px;
  width: 60%;
}

.heading-name {
  font-size: 2.5em !important;
  padding-left: 45px;
  width: 100%;
}

.type {
  padding-left: 45px;
}

.main-name {
  color: #5f85f8;
  margin-left: 10pt;
}

.gif {
  margin-top: 100px;
}

.Typewriter__wrapper {
  font-size: 2.2em !important;
  color: #5f85f8 !important;
  font-weight: 600 !important;
}
.Typewriter__cursor {
  font-size: 2.4em !important;
  color: #62a4d6 !important;
}

@media (max-width: 767px) {
  .Typewriter__wrapper {
    font-size: 1.4em !important;
    font-weight: 500 !important;
    position: fixed !important;
  }
  .Typewriter__cursor {
    display: none !important;
  }

  .header-img {
    margin: auto;
  }
}

.row-about-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.myAvtar {
  justify-content: center !important;
  padding-top: 9em !important;
}

@media (max-width: 1180px) {
  .myAvtar {
    display: none;
  }
}

.img-fluid {
  height: 400px;
  width: 600px;
}

.home-about-description {
  color: white !important;
  padding-top: 100px !important;
  padding-bottom: 20px !important;
  text-align: center;
  width: 50%;
  margin-left: 40px;
}

.home-about-body {
  font-size: 1.2em !important;
  text-align: left;
}

.divider {
  width: 100%;
}

@media (max-width: 767px) {
  .home-about-description {
    width: auto;
    text-align: center;
    margin: 0px 40px;
  }
}